<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dual_pa10">

  <!-- Shared world link -->
  <link name="world"/>

  <!-- Include PA10 macro -->
  <xacro:include filename="$(find manipulatorws)/urdf/pa10.urdf.xacro"/>

  <!-- Left arm at origin -->
  <xacro:pa10_arm prefix="left_" parent="world" xyz="0 0 0" rpy="0 0 0"/>

  <!-- Right arm offset 1.5m in x -->
  <xacro:pa10_arm prefix="right_" parent="world" xyz="1.5 0 0" rpy="0 0 0"/>

</robot>
